$card-primary: #FDFDFD;
$card-secondary: #F0F2F6;


$accent-color-1: #0171DE;
$accent-color-2: #09CA96;
$accent-color-empty: #F0F2F6;

$black-color: #111111;

// Light Mode colors
$light-bg-color: #FEFEFE;
$light-text-color: #010101;
$light-quick-bar-color: #F7F8FA;
$light-quick-btn-color: #F1F1F2;
$light-quick-btn-selected-color: #111111;
$light-quick-bar-text-l-color: #F7F8FA;
$light-quick-bar-text-d-color: #88898B;

// Dark Mode colors
$dark-bg-color: #010101;
$dark-text-color: #F1F1F2;
$dark-quick-bar-color: #0C0C0C;
$dark-quick-btn-color: #161616;
$dark-quick-btn-selected-color: #D1D1D2;
$dark-quick-bar-text-l-color: #0C0C0C;
$dark-quick-bar-text-d-color: #88898B;

@mixin theme-variables(
    $bg-color,
    $text-color,
    $quick-bar-color,
    $quick-btn-color,
    $quick-btn-selected-color,
    $quick-bar-text-l-color,
    $quick-bar-text-d-color
) {
    --bg-color: #{$bg-color};
    --quick-bar-color: #{$quick-bar-color};
    --quick-btn-color: #{$quick-btn-color};
    --quick-btn-selected-color: #{$quick-btn-selected-color};
    --quick-bar-text-l-color: #{$quick-bar-text-l-color};
    --quick-bar-text-d-color: #{$quick-bar-text-d-color};
}

@mixin light-mode {
    @include theme-variables(
        $light-bg-color,
        $light-text-color,
        $light-quick-bar-color,
        $light-quick-btn-color,
        $light-quick-btn-selected-color,
        $light-quick-bar-text-l-color,
        $light-quick-bar-text-d-color
    );
}

@mixin dark-mode {
    @include theme-variables(
        $dark-bg-color,
        $dark-text-color,
        $dark-quick-bar-color,
        $dark-quick-btn-color,
        $dark-quick-btn-selected-color,
        $dark-quick-bar-text-l-color,
        $dark-quick-bar-text-d-color
    );
}
// #0B0A09